<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="../../public/normalize.css">
    <link type="text/css" rel="stylesheet" href="template.css">
    <script async src="../normalize.js"></script>
</head>
<body>
<div class="game-wrapper">
    <div class="game-upper">
        <h1 class="game-title">2048</h1>
        <div class="game-control">
            <div class="current-score-tab score-tab"><h3 class="score-tab-title">SCORE</h3>
                <div class="score-num">20</div>
            </div>
            <div class="best-score-tab score-tab"><h3 class="score-tab-title">BEST</h3>
                <div class="score-num">20</div>
            </div>
        </div>
    </div>
    <div class="game-grid">
        <div class="game-row">
            <div class="game-cell"><span class="game-number"></span></div>
            <div class="game-cell"><span class="game-number"></span></div>
            <div class="game-cell"><span class="game-number">4</span></div>
            <div class="game-cell"><span class="game-number">8</span></div>
        </div>
        <div class="game-row">
            <div class="game-cell"><span class="game-number"></span></div>
            <div class="game-cell"><span class="game-number"></span></div>
            <div class="game-cell"><span class="game-number"></span></div>
            <div class="game-cell"><span class="game-number">4</span></div>
        </div>
        <div class="game-row">
            <div class="game-cell"><span class="game-number"></span></div>
            <div class="game-cell"><span class="game-number"></span></div>
            <div class="game-cell"><span class="game-number">4</span></div>
            <div class="game-cell"><span class="game-number">2</span></div>
        </div>
        <div class="game-row">
            <div class="game-cell"><span class="game-number"></span></div>
            <div class="game-cell"><span class="game-number"></span></div>
            <div class="game-cell"><span class="game-number"></span></div>
            <div class="game-cell"><span class="game-number"></span></div>
        </div>
    </div>
    <div class="new-game-button-wrapper">
        <button class="new-game-button">New Game</button>
    </div>
</div>
</body>
</html>