<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="../../public/normalize.css">
    <link type="text/css" rel="stylesheet" href="template.css">
    <script async src="../normalize.js"></script>
</head>
<body>
<div class="game-wrapper">
    <div class="game-upper">
        <h1 class="game-title">2048</h1>
        <div class="game-control">
            <div class="score-tab"><h3 class="score-tab-title">SCORE</h3>
                <div class="score-num">20</div>
            </div>
            <div class="score-tab"><h3 class="score-tab-title">BEST</h3>
                <div class="score-num">20</div>
            </div>
        </div>
    </div>
    <div class="game-grid">
        <div class="game-row">
            <div class="game-cell"><span class="game-number num-2">2</span></div>
            <div class="game-cell"><span class="game-number num-4">4</span></div>
            <div class="game-cell"><span class="game-number num-8">8</span></div>
            <div class="game-cell"><span class="game-number num-16">16</span></div>
        </div>
        <div class="game-row">
            <div class="game-cell"><span class="game-number num-32">32</span></div>
            <div class="game-cell"><span class="game-number num-64">64</span></div>
            <div class="game-cell"><span class="game-number num-128">128</span></div>
            <div class="game-cell"><span class="game-number num-256">256</span></div>
        </div>
        <div class="game-row">
            <div class="game-cell"><span class="game-number num-512">512</span></div>
            <div class="game-cell"><span class="game-number num-1024">1024</span></div>
            <div class="game-cell"><span class="game-number num-2048">2048</span></div>
            <div class="game-cell"><span class="game-number num-4096">4096</span></div>
        </div>
        <div class="game-row">
            <div class="game-cell"><span class="game-number num-8192">8192</span></div>
            <div class="game-cell"><span class="game-number num-16384">16384</span></div>
            <div class="game-cell"><span class="game-number num-32768">32768</span></div>
            <div class="game-cell"><span class="game-number num-65536">65536</span></div>
        </div>
    </div>
    <div class="new-game-button-wrapper">
        <button class="new-game-button">New Game</button>
    </div>
</div>
</body>
</html>